
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Politico | Login</title>
        <link rel="stylesheet" type="text/css" href="/Politico-client/css/style.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Muli:200i,400" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    </head>
    <body>
        <header id="header" >
            <nav>
                <a href="index.html"> <div class="logo"><i class="fab fa-pinterest-p"></i>olitico </a>
                <ul>
                    <li><a href="admin.html">Government</a></li>
                    <li><a href="profile.html">Profile</a></li>
                   
                    
                </ul>
            </nav>
        </header>
         <section class="login-page">
                <div class="login-form">
                        <h1 class="login-heading">Log In</h1>
                        <div class="form">
                                <div class="alert-box">
                            <form id="form" class="login"  action="">
                                <div>
                                    <input id="email" type="text" placeholder="Email" required>
                                </div>
                                <div >
                                    <input id="password" type="password" placeholder="Password" required>
                                </div>
                               
                                <div>
                                    <input id="submit-button" type="submit" value="LOG IN">
                                </div>
                                
                                <div class="forgotpassword">
                                    <p><a href="reset.html">Forgot Password?</a></p>
                                </div>
                            </form>
                        </div>
                    </div>
         </section>
        <footer id="footer">
            <p>Copyright © 2019 Politico. All rights reserved.</p>            
        </footer>
        <script src="/Politico-client/scripts/login.js"></script>
    </body>
</html>