<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Politico | Candidates</title>
    <link rel="stylesheet" type="text/css" href="/Politico-client/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Muli:200i,400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <!-- <link rel="stylesheet" href="css/slider.css"> -->
    <link rel="stylesheet" href="/Politico-client/css/modal.css">
</head>

<body>
    <header id="header">
        <nav>
            <a href="index.html">
                <div class="logo"><i class="fab fa-pinterest-p"></i>olitico
            </a>
            <ul>

                <li><a href="#"><i class="fas fa-user-lock"></i></i> Candidate</a></li>
                <li><a href="index.html"><i class="fas fa-sign-in-alt"></i> Logout </a></li>
            </ul>
        </nav>
    </header>
    <section id="page" class="admin-page">

        <div class=" dashboard card col-2">
            <h3>Profile</h3>
            <p><a href="#">Notifications(10)</a></p>
            <hr>
            <p class="active"><a href="#">Run For Office</a></p>
            <hr>
            <p><a href="#">Profile Settings</a></p>

        </div>
        <div class="col-8">
            <div class="col-11">

            </div>

            <div class="card col-11">
                <!-- run for office modal -->
                <h2 class="table-caption">Government Offices</h2>
                <button onClick="toggleModal()" class="trigger text button">Run For Office</button>

                <div class="modal-panel">
                    <div class="content">
                        <span class="close" onClick="toggleModal()">×</span>

                        <h1 class="login-heading">Contest Election</h1>
                        <div class="form">
                            <form class="login" action="">
                                <div>
                                    <input type="text" placeholder="Full Name" required>
                                </div>
                                <div>
                                    <input type="text" placeholder="Nationality" required>
                                </div>
                                <div>
                                    <input type="number" placeholder="Age" required>
                                </div>
                                <div>
                                    <input type="text" placeholder="Political Party" required>
                                </div>
                                <div>
                                    <select name="role" id="">Office
                                        <option value="presdo">President</option>
                                        <option value="senator">Senator</option>
                                        <option value="gov">Governor</option>
                                        <option value="mp">Parliamentarian</option>
                                    </select>
                                </div>

                                <div>
                                    <input type="submit" value="Apply">
                                </div>

                            </form>
                        </div>

                    </div>
                </div>




                <!-- Offices table -->
                <table class="table">

                    <tr>
                        <th>Office</th>
                        <th>Candidates</th>
                        <th>Political Party</th>

                    </tr>
                    <tr>
                        <td>President</td>
                        <td>
                            <ul>
                                <li>Sean Bills</li>
                                <li>Sean Bills</li>
                                <li>Sean Bills</li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li>People's Party</li>
                                <li>Democratic Party</li>
                                <li>Independent</li>
                            </ul>
                        </td>

                    </tr>
                    <tr>
                        <td>Senator</td>
                        <td>
                            <ul>
                                <li>Sean Bills</li>
                                <li>Sean Bills</li>
                                <li>Sean Bills</li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li>People's Party</li>
                                <li>Independent</li>
                                <li>Democratic Party</li>
                            </ul>
                        </td>

                    </tr>
                    <tr>
                        <td>Governor</td>
                        <td>
                            <ul>
                                <li>Sean Bills</li>
                                <li>Sean Bills</li>
                                <li>Sean Bills</li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li>Independent</li>
                                <li>Independent</li>
                                <li>People's Party</li>
                            </ul>
                        </td>

                    </tr>
                    <tr>
                        <td>Member of Parliament</td>
                        <td>
                            <ul>
                                <li>Sean Bills</li>
                                <li>Sean Bills</li>
                                <li>Sean Bills</li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li>Independent</li>
                                <li>People's Party</li>
                                <li>Democratic Party</li>
                            </ul>
                        </td>


                    </tr>

                </table>
            </div>



        </div>

    </section>
    <footer id="footer" class="col-12">
        <p>Copyright © 2019 Politico. All rights reserved.</p>
    </footer>

    <script src="/Politico-client/js/modals.js"></script>
</body>

</html>