<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Politico | Profile</title>
    <link rel="stylesheet" type="text/css" href="/Politico-client/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Muli:200i,400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <!-- <link rel="stylesheet" href="css/slider.css"> -->
    <link rel="stylesheet" href="/Politico-client/css/modal.css">
</head>

<body>
    <header id="header">
        <nav>
            <a href="index.html">
                <div class="logo"><i class="fab fa-pinterest-p"></i>olitico
            </a>
            <ul>

                <li><a href="#"><i class="fas fa-user-lock"></i></i>Bob Little</a></li>
                <li><a href="index.html"><i class="fas fa-sign-in-alt"></i> Logout </a></li>

            </ul>
        </nav>
    </header>
    <section id="page" class="admin-page">

        <div class="dashboard card col-2">
            <h3> Profile</h3>
            <p class=""><a href="#">Notifications(10)</a></p>
            <hr>
            <p class="active"><a href="#">My Voting Record(4)</a></p>
            <hr>
            <p><a href="#">Profile Settings</a></p>


        </div>




        <div class="col-8">

            <div class="col-11">

                <div class="center">
                    <div class="col-3">
                        Total Votes: 4
                    </div>
                    <div class="col-4">
                        Offices Voted For: 4
                    </div>

                </div>
                <div class="card col-11">
                    <h2 class="table-caption">Voting Record</h2>

                    <table class="table">
                        <tr>

                            <th>Political Office</th>
                            <th>Candidate</th>

                            <th>Voter</th>
                            <th>Date of Voting</th>

                        </tr>
                        <tr>

                            <td>President</td>
                            <td>John Doe</td>

                            <td>Bob Little</td>
                            <td>1/23/2019</td>
                        </tr>
                        <tr>

                            <td>Senator</td>
                            <td>Jane Ham</td>

                            <td>Bob Little</td>
                            <td>1/23/2019</td>
                        </tr>
                        <tr>

                            <td>Governor</td>
                            <td>Lois Lane</td>

                            <td>Bob Little</td>
                            <td>1/23/2019</td>
                        </tr>
                        <tr>

                            <td>Member of Parliament</td>
                            <td>Tom Harry</td>

                            <td>Bob Little</td>
                            <td>1/23/2019</td>
                        </tr>

                        <tfoot>
                            <tr>
                                <td></td>
                                <th style="text-align: center; font-weight: bold">Total</th>
                                <td>4</td>

                            </tr>
                        </tfoot>

                    </table>
                </div>



            </div>


    </section>
    <footer id="footer" class="col-12">
        <p>Copyright © 2019 Politico. All rights reserved.</p>
    </footer>

    <script src="/Politico-client/js/modals.js"></script>
</body>

</html>