<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Politico | Forgot Password</title>
    <link rel="stylesheet" type="text/css" href="/Politico-client/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Muli:200i,400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
</head>

<body>
    <header id="header">
        <nav>
            <a href="index.html">
                <div class="logo"><i class="fab fa-pinterest-p"></i>olitico
            </a>
            <ul>
                <li><a href="#">Government</a></li>
                <li><a href="#">Services</a></li>


            </ul>
        </nav>
    </header>
    <section class="login-page">
        <div class="login-form">
            <h1 class="login-heading">Forgot your password?</h1>
            <p>Enter your email address and click the button below. We'll send you a link to reset your password.</p>
            <div class="form">
                <form class="login" action="">
                    <div>
                        <input type="text" placeholder="Email" required>
                    </div>

                    <div>
                        <input type="submit" value="Email Link To Reset My Password">
                    </div>


                </form>
            </div>
        </div>
    </section>
    <footer id="footer">
        <p>Copyright © 2019 Politico. All rights reserved.</p>
    </footer>

</body>

</html>